body {
  font-family:'Lato';
  background-color:rgb(228, 228, 228);
}
.welcome-banner {
  margin-bottom:1em;
}
.welcome-image-container {
  width:100%;
  height:auto;
}
.welcome-image {
  width:100%;
  height:auto;
}
.welcome-banner-text{
  text-align:center;
  position: absolute;
  color:white;
  font-weight:200;
  top:25%;
  left:33%;
}

.list-group-item{
  background-color: transparent;
  font-size:.8em;
}
.welcome-box {
  /* border:1px solid black; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
            0 2px 4px 0 rgba(0,0,0,0.08);
  margin-bottom:14px;
}

.logo{
  height:1.75em;
}
.navbar {
  background-color:rgb(197, 120, 238);
  border-bottom: 4px solid rgb(142, 87, 172);
}
.dropdown {
  margin-right:20px;
}
.btn-secondary {
  background-color:rgb(197, 120, 238) !important;
  border:0;
}
.dropdown-item {
  font-size:.8em;
}

.responseBtn {
  background-color:rgb(197, 120, 238);
  margin-bottom:10px;
  padding:12px;
  min-width:75px;
  border-bottom:4px solid rgb(142, 87, 172);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
            0 2px 4px 0 rgba(0,0,0,0.08);
}
.responseBtn:hover{
  transform:scale(1.1);
  transition:transform .2s ease-in-out;
}
.questionBox-before{
  opacity:0
}
.questionBox-active{
  opacity:1;
  transition: opacity .7s ease-in
}



.questionText {
  margin:20px;
}
.answersDiv{
  margin:10px;
  display:flex;
  justify-content: space-evenly;
}

.response {
  background-color: blueviolet;

}

/* Customize the label (the container) */
.radioDiv{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.caliberLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 25%;
}

/* Hide the browser's default checkbox */
.caliberLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: rgb(197, 120, 238);
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.caliberLabel:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.caliberLabel input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.caliberLabel input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.caliberLabel .checkmark:after {
  left: 10px;
  top: 4px;
  width: 10px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}